.btn-home {
  padding: 10px 30px;
  background-color: $darker-purple;
  color: $mid-purple;
  border-radius: 20px;
  text-decoration: none;

  i {
    color: $mid-purple;
  }

  &:hover {
    background-color: $mid-purple;
    color: $darker-purple;

    i {
      color: $darker-purple;
    }
  }
}

.back-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 30px;
  color: $dark-purple;
  padding-right: 100px;

  &:hover {
    color: $mid-purple;
  }
}

.btn-profile {
  padding: 10px 30px;
  background-color: $mid-purple;
  color: $darker-purple;
  border-radius: 20px;
  text-decoration: none;
  width: 100%;

  i {
    color: $darker-purple;
  }

  &:hover {
    background-color: $purple;
    color: $light-purple;

    i {
      color: $purple;
    }
  }
}

.btn-submit {
  background-color: transparent;
  font-size: 16px;
}
