.instrument-card {
  width: 70%;
  background-color: #fff;
}

.home-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.home-card-item {
  height: 300px;
  width: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 30px;
    color: rgb(0, 0, 42);
  }
}
