.instrument-card {
  width: 70%;
  background-color: #fff;
}

.home-cards-wrapper {
  display: flex;
  height: 18vh;
}

.home-card-item {
  width: 100%;
  background-color: $darker-purple;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  i {
    font-size: 30px;
    color: $mid-purple;
  }

  h3 {
    font-size: 30px;
    color: $mid-purple;
  }

  &:hover {
    background-color: $mid-purple;

    h3 {
      color: $darker-purple;
    }

    i {
      color: $darker-purple;
    }
  }

  img {
    width: 21%;
    height: 70%;
    margin-right: 100px;
  }
}
