.list {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.table-grid-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  justify-content: center;
  text-align: center;
  grid-row-gap: 10px;
  width: 80%;
}

.table-grid-item {
  border: 1px solid $purple;
  padding: 10px;
  font-size: 20px;
}

.first {
  border-radius: 20px 0 0 20px;
  background-color: $darker-purple;
  color: $mid-purple;
}

.second {
  border-radius: 0 20px 20px 0;
  background-color: $mid-purple;
  color: $darker-purple;

  &:hover {
    background-color: $darker-purple;
    color: $mid-purple;
  }
}

a {
  text-decoration: none;
}

.profile-grid-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  text-align: center;
  grid-row-gap: 10px;
  width: 90%;
}

.profile-grid-item {
  border: 1px solid $purple;
  padding: 10px;
  font-size: 20px;

  i {
    color: $mid-purple;
  }
}

.first-prof {
  border-radius: 20px 0 0 20px;
  background-color: $mid-purple;
  color: $darker-purple;

  &:hover {
    background-color: $darker-purple;
    color: $mid-purple;
  }
}

.second-prof {
  border-radius: 0 20px 20px 0;
  background-color: $darker-purple;
  color: $mid-purple;
}
