.list {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.instrument-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  text-align: center;
  width: 70%;
}

.instrument-grid-item {
  border: 1px solid rgb(161, 161, 161);
  padding: 10px;
  background-color: #fff;
}
