<div class="container mx-auto">
  <div class="d-flex">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left me-2"></i>
    <% end %>
    <h1>Instrumentos Disponíveis</h1>
  </div>

  <div class="instrument-grid-wrapper">
    <% @instruments.each_with_index do |instrument, index| %>
      <div class="instrument-grid-item"><%= index + 1 %></div>
      <%= link_to instrument_path(instrument) do%>
        <div class="instrument-grid-item"><%= instrument.title %></div>
      <% end %>
    <% end %>
  </div>
</div>
